
.banner__small {
    position: relative;
    max-width: 1440px;
    max-height: 292px;
    margin: 0;
}
.banner__small__img__wrap {
    display: block;
    background: #000;
}
.banner__small__img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.banner__small__logo {
    position: absolute;
    max-width: 276px;
    margin-left: clamp(135px, 1.3rem, 138px);
    margin-top: clamp(-255px, -1.2rem, -260px);
}
.banner__small__slogan {
    @include slogan;
    font-weight: normal;
    font-size: 3.6rem;
    position: absolute;
    text-align: right;
    margin-top: clamp(-100px, -2rem, -119px);
    margin-left: clamp(720px, 1rem, 726px);
    margin-right: clamp(62px, 0.6rem, 66px);
}
@media (min-width: 991px) and (max-width: 1200px) {
    .banner__small__logo {
        width: 75%;
        height: 70%;
        margin-top: clamp(-180px, -1.2rem, -200px);
        margin-left: clamp(105px, 1.3rem, 108px);
    }
    .banner__small__slogan {
        font-size: 2.8rem;
        margin-left: clamp(520px, 1rem, 526px);
        margin-top: clamp(-70px, -2rem, -79px);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .banner__small__logo {
        width: 45%;
        height: 40%;
        margin-top: clamp(-180px, -1.2rem, -200px);
        margin-left: clamp(105px, 1.3rem, 108px);
}
    .banner__small__slogan {
    font-size: 2.2rem;
    margin-left: clamp(520px, 1rem, 526px);
    margin-top: clamp(-70px, -2rem, -79px);
}
}
@media (max-width: 567px) {
    .banner__small__img {
        display: none;
        
    }
}