.banner-small {
  background-image: url("/assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 550px) {
    background-image: url("/assets/images/banner_mobile.png");
  }
}

.banner-small__background {
  background: rgba(0, 0, 0, 0.4);
}

.banner-small__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: clamp(335px, 81.25vw, 1170px);
  margin: 0 auto;
  padding: 29px 0;

  @media (max-width: 550px) {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 62px 0;
  }
}

.banner-small__logo {
  max-width: 276px;

  @media (max-width: 550px) {
    max-width: 125px;
  }
}

.banner-small__slogan {
  @include slogan;
  align-self: flex-end;
  text-align: right;
  max-width: 491px;
  margin-left: 50px;

  @media (max-width: 550px) {
    text-align: center;
    align-self: center;
    margin-left: 0;
    margin-top: 17px;
  }
}
