.contacts {
  background-color: var(--light-color);
  border-radius: 50px 50px 0px 0px;

  &__info {
    display: flex;
    flex-direction: column;
  }
}
.contacts-container {
  margin: 0 auto;
  max-width: clamp(335px, 81.25vw, 1170px);
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 2fr;
  // column-gap: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between
}

.contacts__title {
  // grid-column: 1/2;
  // grid-row: 1/2;
  @include h1;
  padding-bottom: clamp(32px, 3.47vw, 50px);
}
.contacts__block {
  grid-column: 1/2;
  grid-row: 2/3;
  // gap: 1em;
}
.map {

  padding: clamp(50px, 4.86vw, 70px) 0;
  // width: 100%;
  // grid-column: 2/3;
  // grid-row: 1/3;
  justify-self: end;
}
.map-adaptive {
  display: none;
}
.map-adaptive_less {
  display: none;
}
.map-mobile {
  display: none;
}
.contact-item {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}
// .vk {
//   margin-bottom: 1rem;
// }
.contact-item_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact-item__text {
  @include main-bolder;
  color: black;
  text-decoration: none;
}
.hours {
  margin-left: 30px;
}

.link-contacts {
  display: block;
}
.link-contacts:hover {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1245px) {

  .map {
    display: none;
  }
  .map-adaptive {
    display: block;
    // width: 100%;
    // grid-column: 2/3;
    // grid-row: 1/3;
    padding: clamp(50px, 4.86vw, 70px) 0;
  }
}

@media (max-width: 900px) {

  .map {
    display: none;
  }
  .map-adaptive {
    display: none;
  }
  .map-adaptive_less {
    display: block;
    // width: 100%;
    // grid-column: 2/3;
    // grid-row: 1/3;
    padding: clamp(50px, 4.86vw, 70px) 0;
  }
}

@media (max-width: 735px) {
  .contacts__title {
    padding-top: clamp(50px, 4.86vw, 70px);
  }

  .contacts-container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .map,
  .map-adaptive,
  .map-adaptive_less {
    display: none;
  }
  .map-mobile {
    display: block;
    width: 100%;
    // margin-top: 3rem;
    // margin-left: 0;
  }
  .contacts__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    justify-content: center;
    // padding-left: 5%;
    // padding-right: 5%;
    align-items: center;
    column-gap: 32px;
  }
  .hours {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;   
  }
  .vk {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contacts__title {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .contacts__block {
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 470px) {
  .contacts-container {
    margin: 0 auto;
    padding: 0;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
