.questions{
  max-width: 902px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
}

@media (max-width:930px) {
  .questions{
    margin: 0 20px 0 20px;
  }
}
.questions__title{
  @include h1;
  text-align: center;
  margin-top: 10%;
}

.tab-ico {
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-image: url('/assets/images/arrow.svg');
  filter: invert(15%) sepia(63%) saturate(3827%) hue-rotate(340deg) brightness(84%) contrast(101%);
  transition: all .35s;
  background-repeat: no-repeat;
  justify-self: end;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5%;
  
}
.tab {
  width: 100%;
  color: var(--secondary-color);
  overflow: hidden;
  @include h6;
  margin-bottom: 32px;
  
  .tab-label {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: var(--light-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 35px;
    height: 100%;
  }
  @media(max-width:700px){
  .tab-label{
    border-radius: 20px;
  }
}
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--main-font-color);
    @include main;
    background: white;
    transition: all .35s;
  }
}

// :checked
input:checked {
  + .tab-label {
    background: var(--secondary-color);
    color: var(--light-color);
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

  ~ .tab-label .tab-ico {
      transform: rotate(-180deg);
      filter: invert(85%) sepia(9%) saturate(763%) hue-rotate(330deg) brightness(110%) contrast(96%);
      background-repeat: no-repeat;

  }
}
.last-child{
  margin-bottom: 0;
}