.questions{
  max-width: 902px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
}

@media (max-width:930px) {
  .questions{
    margin: 0 20px 0 20px;
  }
}
.questions__title{
  @include h1;
  text-align: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  
}
.tab {
  width: 100%;
  color: var(--secondary-color);
  overflow: hidden;
  @include h6;
  margin-bottom: 32px;
  
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--light-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 35px;
    /* Icon */
    .tab-label:hover {
      background: wheat;
    }
    .tab-label::after {
      content: "\f077";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
      
    }
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--main-font-color);
    @include main;
    background: white;
    transition: all .35s;
  }
}

// :checked
input:checked {
  + .tab-label {
    background: var(--secondary-color);
    color: white;
    &::after {
      transform: rotate(-90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
.last-child{
  margin-bottom: 0;
}





