.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: clamp(335px, 81.25vw, 1170px);
  margin: 0 auto;
}

.cards {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 120px;

  &__wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: clamp(16px, 2.083vw, 30px);
      row-gap: clamp(20px, 2.083vw, 40px);
      justify-content: center;
  }


  &__item {
      width: 270px;
      display: flex;
      flex-direction: column;
      align-items: center;    
  }

  &__text {
      text-align: center;
  }
}

.features__title {
    @include h1;
    text-align: center;
    padding-bottom: clamp(50px, 4.86vw, 70px);
}

.features__card-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.6rem;
    color: #981322;
    margin-bottom: 18px;
}

.features__card-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.6rem;
    color: #1F1C1C;
    text-align: center;
}

.features-icon {
    margin-bottom: 20px;
}