.footer {
    background-color:  var(--secondary-color);
}
.footer__wrap {
    max-width: clamp(335px, 81.25vw, 1170px);
    margin: 0 auto;
    padding: clamp(32px, 3.47vw, 50px) 0;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: clamp(4px, 1.39vw, 20px);
}
.footer__logo-img {
    flex: 1 0 auto;
    width: clamp(50px, 8.68vw, 125px);
    height: clamp(42.4px, 7.36vw, 106px);
    background-image: url("/assets/images/logo_footer.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.footer__logo-text {
    flex: 0 1 auto;
    @include footer-name;
    max-width: clamp(150px, 15.76vw, 227px);
}
.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__menu__item,
.footer__menu__contacts {
    @include main-bolder;
    text-decoration: none;
    color: var(--light-color);
}
.footer__menu__item:hover {
    color: var(--main-color);
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__contacts__address,
.footer__contacts__message,
.footer__contacts__social {
    display: flex;
    align-items: flex-end;
}
.footer__contacts__map__icon {
    width: clamp(15px,1.38vw,20px);
    height: clamp(15px,1.38vw,20px);
    box-sizing: border-box;
    background-image: url("/assets/images/map_icon_footer.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__contacts__phone__icon {
    width: clamp(15px,1.38vw,20px);
    height: clamp(15px,1.38vh,20px);
    background-image: url(/assets/images/phone_icon_footer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__contacts__wa__icon {
    width: clamp(20px,1.38vw,24px);
    height: clamp(20px,1.38vh,24px);
    background-image: url(/assets/images/whatsapp_icon_footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer__contacts__vk__icon {
    width: clamp(20px,1.38vw,24px);
    height: clamp(20px,1.38vh,24px);
    background-image: url(/assets/images/vk_icon_footer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__contacts__address,
.footer__contacts__message,
.footer__contacts__social {
    @include main-bolder;
    color: var(--light-color);
}
.footer__contacts__address p{
    padding-left: clamp(5px,0.34vw,8px);
}
.footer__contacts__address:hover {
    color: var(--main-color);
}

.footer__contacts__item{
    text-decoration: none;
    color:var(--light-color);
    padding-left: clamp(5px,0.34vw,8px);
}
.footer__contacts:hover{
    color: var(--main-color);
}

@media (max-width: 767px){
    .footer__row {
        flex-direction: column;
        align-items: center;
        gap: 32px;     
    }

    .footer__menu {
        align-items: center;
    }
    .footer__contacts {
        align-items: center;
    }
}
