footer {
    display: flex;
    max-width: 100vw;
    min-height: 236px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #981322;
}
.footer__row {
    width: 117rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.footer__logo {
    display: flex;
    flex-direction: row;
    margin-left: clamp(50px,5rem,60px);
    margin-right: clamp(10px,1rem,15px);
    align-items: center;
}
.footer__logo__img {
    box-sizing: border-box;
    background-image: url("/assets/images/logo_footer.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15rem;
    height: 12rem;
}
.footer__logo p{
    @include footer-name;
    padding-left: clamp(30px,3rem,40px);
    padding-right: clamp(20px,2rem,25px);
}
.footer__menu {
    display: flex;
    flex-direction: column;
    margin-right: clamp(-25px,-5rem,-50px);
    margin-left: clamp(20px,2rem,25px);
}
.footer__menu__reasons,
.footer__menu__faq,
.footer__menu__feedback,
.footer__menu__products,
.footer__menu__contacts {
    @include main-bolder;
    text-decoration: none;
    color: var(--light-color);
    padding-bottom: clamp(10px, 1.4rem, 14px);
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    padding-left: clamp(60px, 7rem, 120px);
    padding-right: clamp(40px, 3rem, 50px);
}
.footer__contacts__address,
.footer__contacts__message,
.footer__contacts__social {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__contacts__map__icon {
    width: 1.4rem;
    height: 2rem;
    box-sizing: border-box;
    background-image: url("/assets/images/map_icon_footer.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    padding-left: clamp(40px, 3rem, 50px);
}
.footer__contacts__phone__icon {
    width: 1.5rem;
    height: 2rem;
    box-sizing: border-box;
    background-image: url(/assets/images/phone_icon_footer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;;
    padding-left: clamp(10px, 3rem, 12px);
}
.footer__contacts__wa__icon {
    width: 2.5rem;
    height: 2rem;
    box-sizing: border-box;
    background-image: url(/assets/images/whatsapp_icon_footer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: clamp(40px, 3rem, 50px);
}
.footer__contacts__vk__icon {
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    background-image: url(/assets/images/vk_icon_footer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: clamp(40px, 3rem, 50px);
}
.footer__contacts__address,
.footer__contacts__message,
.footer__contacts__social {
    @include main-bolder;
    color: var(--light-color);
    padding-bottom: 1.6rem;
}
.footer__contacts__social a{
    text-decoration: none;
    color:#FAE5D2;
}
@media (max-width: 767px){
    .footer__row {
        flex-direction: column;
        margin-top: clamp(10px,1rem,15px);
    }
    .footer__logo{
        max-width: 50vw;
        max-height: 30vh;
    }
    .footer__logo__img {
        max-width: 15vw;
    }
    .footer__menu {
        align-items: center;
        margin-bottom: clamp(20px,2rem,30px);
    }
    .footer__contacts {
        align-items: center;
    }
}
