.products {
  max-width: clamp(320px, 81.25vw, 1170px);
  margin: 0 auto;
}

.products__title {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(50px, 4.86vw, 70px);
  @include h1;
  color: var(--main-font-color);
}

.products__card-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: min-content min-content;
  gap: clamp(30px, 3.125vw, 45px);

  @media (max-width: 899px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: min-content min-content min-content;
  }

  @media (max-width: 597px) {
    display: block;
    margin: 0 auto;
  }
}

.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(24px, 2.22vw, 32px);
  border: 1px solid rgba(31, 28, 28, 0.2);
  border-radius: 35px;

  @media (max-width: 899px) {
    padding: clamp(24px, 3.55vw, 32px);
  }

  @media (max-width: 597px) {
    border: none;
    padding-inline: 40px;
  }
}

.products__card-image {
  border-radius: 20px;
  max-width: 100%;
}

.products__card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 296px;
}

.products__card-title {
  @include h5;
  margin-top: 32px;
  margin-bottom: 10px;
}

.products__card-description {
  @include main;
  text-align: center;
  margin: 0;
}
